.movie {
  margin: 1rem;
  background-color: #4984a3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
  text-align: left;
  width: 250px;
  height: 250px;
}

.movie h5 {
  color: black;
  margin: 3px;
  font-size: 1rem;
}

.movie p {
  margin: 0
}
