.col-7 .row .col-5 {
    margin-top: 40%;
}

.col-7 .row .col-7 {
    margin-top: 60%;

}

.sidebar {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.is-sticky {
    position: fixed;
    top: 10px;
    z-index: 999;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}